.container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Visualizer Sidebar";
  }
  
  .Visualizer { grid-area: Visualizer; }
  
  .Sidebar { grid-area: Sidebar; }
  